@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: gray;
}

.navBar {
    backdrop-filter: blur(10px) brightness(0.8);
    -webkit-backdrop-filter: blur(10px) brightness(0.8);
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/font/BrockScript.woff2') format('woff2'),
        url('/src/assets/font/BrockScript.woff') format('woff'),
        url('/src//assets//font/BrockScript.ttf') format('truetype');
    /* Include the TTF file */
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #f66916;
    border-radius: 7px;
}